@import '../../styles/custom-media.css';

.root {
  background: rgba(245,245,245,0.9);
  height: 100vh;
  width:100vw;
  overflow: scroll;
  position:fixed;
  left:0;
  top:0;
  overflow: hidden;
  z-index: -2;
  @media (--media-min-medium) {
    /* margin-left:16vw;
    padding:50px;
    padding-left:75px; */
  }

}
.inner > div > div > div > div{
  padding:0 !important;
}
.close{
    text-align: right;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right:0;
    top:0;
    z-index: 9;
    max-width: 35px;
    @media (--media-min-small) {
      max-width: 50px;
      padding: 25px 30px;
    }
}
.close svg{
  width: 100%;
}
.root * {
  opacity:0;
}

.inner{
    text-align: center;
    padding-top:5em;
    margin-top:0;
    max-height: calc(100vh - 3em);
    padding-bottom:1em;
    overflow:scroll;
    @media (--media-min-small) {
      padding-top:3em;
      margin-top:0;
    }
}
.inner > div{
  margin-bottom:3em;
}


.root figure{
  max-width: 92vw;
  height: auto;
  display: block;
  margin:0 auto;
  @media(--media-min-medium){
    max-width: 60vw;
  }
}
.root figure img{
  max-width: 100%;
}