@import '../../styles/custom-media.css';

.root {
  background: rgba(245,245,245,0.9);
  height: 100vh;
  width:100vw;
  overflow: scroll;
  position:fixed;
  left:0;
  top:0;
  overflow: hidden;
  z-index: -2;

}
.inner > div > div > div > div, .inner > div > div{
  padding:0 !important;
}
.inner > div > img {
  width: calc(80% - 50px) !important;
  min-width: none !important;
  height: auto !important;
}
.close{
    text-align: right;
    padding: var(--space-small);
    cursor: pointer;
    position: absolute;
    right:0;
    top:0;
    z-index: 9;
    max-width: 35px;
    @media (--media-min-small) {
      max-width: 50px;
      padding: var(--space);
    }
}
.close svg{
  width: 100%;
}
.root * {
  opacity:0;
}

.inner{
    text-align: center;
    padding-top:calc(var(--space)* 2);
    margin-top:0;
    max-height: calc(100vh - 3em);
    padding-bottom:var(--space);
    overflow:scroll;
    @media (--media-min-small) {
      padding-top:calc(var(--space));
      margin-top:0;
    }
}
.inner > div{
  margin-bottom:var(--space);
}


.root figure{
  max-width: 92vw;
  height: auto;
  display: block;
  margin:0 auto;
  @media(--media-min-medium){
    max-width: 60vw;
  }
}
.root figure img{
  max-width: 100%;
}