@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.person{
    cursor:pointer;
    display: inline;
}
.person > div:first-child{
    background:var(--blue-link-gradient);
    display: inline-block;
}