
@import './custom-media.css';
:root {
  --font-family-sans:"Sharp Sans", sans-serif;
  --font-family-bold: "Sharp Sans Bold", sans-serif;
  --color-black: #1C1E33;
  --space: 25px;
  --space-small: 15px;
  --color-white: #F8F8F8;
  --color-gray: rgba(139, 100, 54, 0.07);
  --clear: rgba(245,245,245,0);
  --border-black: border 1px solid #1C1E33; 
  /* Typography */
  --font-small-size: 0.80rem; /* 14px */
  --font-base-size: clamp(20px, 1.2vw, 40px); /* 16px */
  --font-base-letter-spacing: 0.03rem;
  --font-base-line-height: 1.5; /* 24px */
  --font-medium-size: clamp(22px, 1.5vw, 45px); 
  --font-slight-size: clamp(22px, 1.35vw, 42px); 
  --font-medium-line-height: calc(30 / 21); /* 30px */
  --font-large-size: 2.4rem;
  --font-large-line-height: calc(57 / 49); /* 57px */
  @media (--media-max-medium) {
    --font-large-size: 2rem;
    --font-base-size: clamp(16px, 1.2vw, 40px); /* 16px */
    --font-medium-size: clamp(18px, 1.5vw, 45px); 
    --font-slight-size: clamp(16px, 1.35vw, 42px); 
  }
}
