
@import './custom-media.css';
:root {
  --font-family-sans:"Sharp Sans", sans-serif;
  --font-family-bold: "Sharp Sans Bold", sans-serif;
  --color-black: #1C1E33;
  --color-red:#BF0D3E;
  --color-white: #F8F8F8;
  --clear: rgba(245,245,245,0);
  /* Typography */
  --font-small-size: 0.82rem; /* 14px */
  --font-base-size: clamp(14px, 1.2vw, 40px); /* 16px */
  --font-base-letter-spacing: 0.03rem;
  --font-base-line-height: 1.5; /* 24px */
  --font-medium-size: 1.2rem; 
  --font-medium-line-height: calc(30 / 21); /* 30px */
  --font-large-size: 2.4rem;
  --font-large-line-height: calc(57 / 49); /* 57px */
  @media (--media-max-medium) {
    --font-large-size: 2rem;
  }
}
