@import './custom-properties.css';
@import './custom-media.css';
/****************/
/* Font import */
/****************/
@font-face {
	font-family: "Sharp Sans";
	src: url("../fonts/WOFF/SharpSansDispNo1-Medium.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Medium.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Bold";
	src: url("../fonts/WOFF/SharpSansDispNo1-Bold.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Bold.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Semibold";
	src: url("../fonts/WOFF/SharpSansDispNo1-Semibold.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Semibold.eot") format("eot");
}
html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  letter-spacing: var(--font-base-letter-spacing);
}
input[type='text']{
  background:transparent;
  border:1px solid var(--color-black);
}
a:link, a:visited{
  color:inherit;
}
.homepage-special-text{
  font-size: var(--font-medium-size)
}
.top-text{
  max-width: 80%;
}
.top-text a{
  background-color: var(--color-gray);
  
}
.top-text a:hover{
  background-color: var(--color-gray);
  padding-left:4px;
}
.top-text a:hover::before{
  display:inline;
  content:"";
  left:-4px;
  position:relative;
  border-left:4px solid var(--color-black);
}
body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}
#global-wrapper{
  background:var(--blue-gradient);
}
#global-wrapper.white{
  background: var(--color-white);
}
html,
body,
body > div,
body > div > div {
  height: 100%;
}
strong{
  font-family: var(--font-family-bold);
}
h1{
  font-size: var(--font-large-size);
  margin:25px 0;
}
h2{
  font-size: var(--font-medium-size);
  margin:25px 0;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
h5{
  font-size: 1em;
  margin-top:0;
}
h4{
  /* text-transform:uppercase; */
  font-size: var(--font-small-size);
}
.button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    z-index: 0;
    padding-right: 0;
    padding-left: 5px;
    margin-top: 8px;
    margin-right:12px;
    color: var(--color-black);
    background: var(--white-gradient);
    border-radius: 0px;
    text-decoration: none;
}
.button::after{
   position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 50%;
    height: 100%;
    content: " ";
    background: rgb(245,245,245);
    background: var(--white-gradient-after);
    opacity: 0;
    transition: 0.5s;
    
}
.button:hover::after{
  opacity: 1;
  width: 100%;
}

.blue-button, .hp-text a{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  z-index: 0;
  padding-right: 0;
  padding-left: 5px;
  margin-top: 8px;
  margin-right:12px;
  color: var(--color-black);
  background: var(--light-blue-gradient);
  border-radius: 0px;
  text-decoration: none;
}
.blue-button::after, .hp-text a::after{
 position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 50%;
  height: 100%;
  content: " ";
  background: rgb(245,245,245);
  background: var(--light-blue-gradient);
  opacity: 0;
  transition: 0.5s;
  
}
.blue-button:hover::after, .hp-text a:hover::after{
opacity: 1;
width: 100%;
}

#query-on-demand-indicator-element{
  display: none;
}

.homepage > p:nth-child(2){
  font-size: var(--font-medium-size);
}
.two-column{
  column-count: 2;
  column-gap: 1rem;
  margin-bottom:25px;
}

.top-text.two-column > p:first-child{
  margin-top:0;
}
.top-text.two-column.partner-page figure,.top-text.two-column.partner-page img {
  max-width: 200px;
  height:auto;
}
.top-text.two-column.partner-page .wrapper ,.top-text.two-column.partner-page .wrapper div{
  width:auto;
  height:auto;
  pointer-events: none;
}
.top-text > h1:last-child{
  margin-bottom:0;
}
select{
  cursor: pointer;
	border-radius: 0;
	font-family: inherit;
	color: var(--color-black);
	border: 1px solid var(--color-black);
	background: transparent;
	padding: 2px 8px;
	-webkit-appearance: menulist;
  margin:  10px 2px;
}
input[type=text]{
	background:  -ms-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(245,245,245, 0) 100%);
	background: -moz-linear-gradient(0deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(245,245,245, 0) 100%);
	padding: 8px 8px;
  outline:none;
}
select:focus{
  border:none;
  outline:none;
  background-color: var(--color-gray);
}
#light-box.show, .modal.show{
  z-index: 9;
}
.modal.show{
  opacity: 1;
}
#light-box > *{
  display: none;
}
#light-box.show > *{
  display: block;
}
#light-box.show *{
  opacity: 1;
}
#light-box  div{
  width: auto;
  height: auto;
}
#light-box figcaption{
  text-align: left;
  margin-top:1em
}
#light-box img:hover{
  filter:none;
}
#light-box iframe{
  width: 92% !important;
  height: 65vw !important;
  position: relative !important;
  @media(--media-min-medium){
    width: 62% !important;
    height: 35vw !important;
  }
}

#light-box figcaption.embed-caption{
  width:60%;
  margin-left: 19%;
}

li.alice-carousel__stage-item {
  width: auto !important;
}
.red-color{
  color:var(--color-red);
  cursor:pointer;
}
.red-color:hover{
  text-decoration: underline;
}
.show-thread.faculty-led, .show-thread.student-led{
  display: flex;
}
.masonry-inner .gatsby-image-wrapper, .masonry-inner figure, .masonry-inner div{
  height: auto;
}

.subtitle{
  display: block;
  font-size: var(--font-base-size);
  font-weight: bold;
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.subtitle a{
  color: var(--color-red);
}
.subtitle p{
  margin:0;
}
.main-link a{
  color:var(--color-red);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  z-index: 0;
  padding-right: 0;
  padding-left: 5px;
  margin-top: 8px;
  margin-right:12px;
  background: var(--white-gradient);
  border-radius: 0px;
  text-decoration: none;
}
.main-link a::after{
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 50%;
    height: 100%;
    content: " ";
    background: rgb(245,245,245);
    background: var(--white-gradient-after);
    opacity: 0;
    transition: 0.5s;
}
.main-link a:hover::after{
  opacity: 1;
  width: 100%;
}
.main-link{
  margin: 5px 0;
  position: relative;
  top:-0.5em;
  margin-bottom:2em;
}
.main-link.top-link{
  margin-bottom:0;
}
.main-link.top-link a{
  padding-left:0;
  margin-left:0;
}
@media(max-width:675px){
  .top-text.two-column{
    column-count:1;
  }
  .top-text{
    max-width: 100%;
  }
  .main-link{
    top:-1em;
  }
  .main-link.top-link{
    top:0;
  }
}

.hp-text p{
  margin-top:0;
}

.top-title{
  display: flex;
  width:100%;
  justify-content: space-between;
}
.top-title a:nth-child(1){
  text-decoration: none;
}
.top-title a:nth-child(2){
  font-style: italic;
}
.top-text + h1{
  margin-top:0;
}
.hidden.src{
  opacity: 0;
}
.top-text.about .wrapper{
  display: inline-block;
  margin:12px;
  pointer-events: none;
}
.top-text.about .wrapper *{
  max-height: 80px !important;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn{
  position: absolute;
  top:0;
  z-index: 2;
  left:0;
  color:white;
  background:black;
}
.alice-carousel__next-btn{
  right:0;
  left:auto;
}

.project-title{
  margin: 10px 0;
  max-width: auto;
  @media(--media-min-medium){
    max-width:80%;
  }
}

