@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';
.root {
  background: var(--blue-link-gradient);
  transition: 0.2s;
  position: relative;
  flex-basis: calc(100% - 50px);
  padding: 20px;
  margin: 5px 0;
  font-size: 0.82em;
  @media (--media-min-medium) {
    margin: 5px;
  }
}
.root p{
  max-width: calc(100% - 10px);
  @media (--media-min-medium) {
    max-width: calc(100% - 100px);
  }
}

.root:hover{
  background:var(--blue-hover-gradient);
}

.institution > h5, .network > h5{
  margin-bottom:1em;
  display: inline-block;
  padding-left:5px;
}
.institution em, .network em{
  font-weight: bold;
}

.toggle{
  color: var(--color-red);
  cursor: pointer;
  position:relative;
  display: inline-block;
  background: var(--blue-link-gradient);
  top: -0.7em;
  left: 0px;
  @media (--media-min-medium) {
    left: 20px;
  }
}
.toggle::after{
  background: var(--blue-hover-gradient);
}
.toggle:hover{
  text-decoration: underline;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}