@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';
/****************/
/* Marquee Code */
/****************/

  .marquee {
    width: 300%;
    position: fixed;
    bottom:0;
    left: 0;
    padding: 5px 0;
    z-index: 9;
    display: flex;
    line-height: 30px;
    background: #D4EAED;
    animation: marquee 25s linear infinite forwards;
    box-shadow: 0 -1px 2px 2px rgba(245,245,245,0.5);
    @media (--media-min-medium) {
       padding: 8px 0;
    }
  }
  .marquee li{
      white-space: nowrap;
      padding-left: 5px;
      font-size: var(--font-small-size);
      @media (--media-min-medium) {
        font-size: var(--font-base-size);
      }
  }
  .marquee:hover {
    animation-play-state: paused;
  }
  .listInline {
    display: flex;
    justify-content: space-around;
    width: 100.33%;
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
    @media (--media-min-medium) {
      width: 63.33%;
    }
  }
  .listInline p{
      margin:0;
      display:inline-block;
  }
  .listInline a{
      color: var(--color-red);
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-66.6%);
    }
  }
  