@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  /* background: var(--color-white); */
  background: var(--blue-link-gradient);
  color: var(--color-black);
  padding:20px;
  margin-top:1em;
  position:relative;
  /* padding-bottom:50px; */

}
.root:hover{
    background: var(--light-blue-gradient);
    top:3px;
    left:3px;
}
.root > a{
    text-decoration: none;
    color: var(--color-black);
}
.root > a > a:last-child{
    float:right;
}
.root > a > p{
    max-width: 95%;
    @media (--media-min-medium) {
        max-width: 90%;
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    flex-direction: column;
    margin-top:1em;
    justify-content: space-between;
}
.wrapper > em{
    text-transform: lowercase;
    display: block;
}
.wrapper > em::first-letter{
    text-transform: capitalize;
}
.searchWrapper{
    position:relative;
    width:100%;
    margin:1em 0;
    @media (--media-min-medium) {
        width:70%;
    }
}
.searchWrapper input{
    width:90%;
}
.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:10px;
    background-color: transparent;
    top:12px;
    position:absolute;
    vertical-align: top;
    @media (--media-min-medium) {
        right:50px;
    }
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}