@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slide-track {

  display: inline-flex;
  width: auto;
  transition:1s;
  transition-timing-function:linear;

}
.slide-track:hover{
  /* animation-play-state: paused;
  -webkit-animation-play-state: paused; */
}
.root {
  background: var(--clear);
  position: relative;
  margin-top:2em;
}

.root:-webkit-scrollbar {    display: none;}
.outer{
  overflow-x:auto;
  
}
.inner{
  background-color: var(--color-light-blue);
  height:calc(40vh + 15px);
  overflow-x: scroll;
  overflow-y:hidden;
}
.root a{
  text-decoration: none;
  width: -moz-max-content;
  width: max-content;
}
.root h4{
  bottom:3em;
  padding:0 5px;
  position: relative;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  width: calc(100% - 20px);
  padding:5px 10px;
  white-space: nowrap;
  background-color: rgb(246, 244, 241,0.8);
  color:var(--color--black);
  text-decoration: none;
  overflow: visible;
}

.root li > a{
  color:var(--color--black);
  text-decoration: none;
}
.root li:hover h4{
  padding-left:14px;
}
.root li:hover h4::before{
  display: inline-block;
  content:"";
  height:calc(var(--font-small-size) + 12px);
  position:absolute;
  left:5px;
  top:0px;
  border-left:4px solid var(--color-black);
  
}
.figure{
  margin:0 5px;
}
.root .embed{
  height: 40vh !important;
  width: 73.5vh !important;
  overflow: hidden;
}
.root .embed iframe{
  /* max-width: calc(177.778vh);
    height: calc(56.25vw
); */
  height: calc(23vh * (100/56.25)) !important;
  width: calc(129vh * (100/177.778)) !important;
  margin:0;
  pointer-events: none;
}
.pdf iframe{
  height: 40vh;
  cursor: pointer;
}
.noCarousel{
  display:flex;
}
.root .pdf:hover{
  border-left:4px solid var(--color--black);
}
.root .pdf iframe{
  pointer-events: none;
}
.embed > div{
  padding:0 !important;
}
.root .embed,.root .pdf,.root .figure, .root .embed *,.root .pdf *,.root .figure *, .root a{
  -webkit-user-drag: none;
  user-select: none;
}

.embed > iframe{
  position: relative !important;
}
.embed p{
  display: none;
}
.root .figure, .figure  div{
  height: 40vh;
  display: inline-block;
}
.wrapper{
  box-shadow: inset 0 0 5px 5px var(--color-light-blue);
  height:100%;
  width:100%;
  position: absolute;
  pointer-events: none;
  top:0;
  left:0;
}

.figure img{
  height: 100%;
  width: auto;
  cursor: pointer;
}
.root a:hover img{
  border-left:4px solid;
}
.figure:hover{
  border-left:4px solid var(--color--black);
}

.root .embed:hover{
  border-left:4px solid var(--color--black);
  cursor: pointer;
}
.root figcaption{
  display: none;
}
.simpleImage{
  height:auto;
  margin:0;
  max-width: 50%;
  @media (--media-min-medium) {
    max-width: 25%;
  }
}