@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  background: var(--clear);
  min-height: calc(100vh - 50px);
  margin-left: 0;
  width: calc(100% - 24px);
  margin: 0 auto;
  padding-bottom:4em;
  @media (--media-min-medium) {
    margin-left:16vw;
    padding:50px;
    padding-left:75px;
    width: auto;
    padding-bottom:0;
  }

}
.root > p{
  margin-top:0;
}

.root p a{
  color: var(--color-red);
  text-decoration: none;
}
/* blue hover effect */
.root p a{
  position:relative;
  display: inline-block;
  z-index: 0;
}
.root p a:hover::after{
  opacity: 1;
  width: 100%;
}
.root > h1:nth-child(2){
  margin-top:0;
  margin-bottom:0;
}
.root p a::after{
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 80%;
  height: 100%;
  content: " ";
  background: var(--blue-link-gradient);
  opacity: 0;
  transition: 0.5s;
}