@import '../../styles/custom-media.css';

.root {
    margin:0;
    position:relative;

  @media (--media-min-small) {
    margin:0;
  }

}
.root canvas{
  cursor: pointer;
}

.partners {
    margin:0;
    position:absolute;
    right:25px;
    top:15px;
    padding:10px;
    background:var(--light-blue-gradient-solid);
    max-width: 50%;
  @media (--media-min-small) {
    margin:0;
    max-width: 60%;
  }
}
.partners ul{
    padding:0;
    list-style: none;
    margin-top:0;
    margin-bottom:0;
}
.partners h4{
  margin-bottom:0;
  margin-top:0;
}
.partners li a{
    font-size: var(--font-small-size);
    color: var(--color-red);
    text-decoration: none;
    position:relative;
}
.partners li a:hover::after{
  opacity: 1;
  width: 100%;
}
.partners li a::after{
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 80%;
  height: 100%;
  content: " ";
  background: var(--blue-link-gradient);
  opacity: 0;
  transition: 0.5s;
}