@import '../../styles/custom-media.css';
.root{
    position: relative;
    height: 400px;
    @media (--media-min-medium) {
        height: 700px;
      }
}

.loader{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition:0.5s;
    height: 100vh;
    font-size: var(--font-base-size);
    background-color: #f5f5f5;
    z-index: 999;
  }
.root canvas{
    position: absolute;
    z-index: 1;
}
.root img{
    width:calc(100vw/1.2 - 2px);
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index: -1;
    @media (--media-min-medium) {
        width:calc(100vw/1.38 - 1px);
      }
}
/* .root h5:nth-child(1)::after{
    content: 'current';
    background-color: var(--color-black);
    color:var(--color-white);
    display: block;
    width: 5em;
    padding:2px;
    line-height:1;
    text-align: left;
    font-size:0.7em;
} */
.root h5{
    position: absolute;
    z-index: 8;
    font-weight: normal;
    opacity:0.8;
    font-size:0.8em;
    transition:0.1s;
    background-color: #f8f5f2fc;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: #fff 10px 10px 10px;
    @media (--media-min-small) {
        background: transparent;
    }
}
.root a{
    text-decoration: none;
}
.root h5.on{
    opacity: 1;
    line-height: 24px;
    font-weight: bold;
    /* color:lime */
}
.root h5:hover{
    opacity: 1;
    top:-10px;
    font-weight: bold;
}
.root h5 .hidden-message{
    display: none;
}
.root h5:hover .hidden-message{
    display: inline;
}

.root h5 span{
    text-transform: none;
    font-size: 0.8em;
}