@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root{
    flex-basis: calc(30% - 20px);
    width: 30%;
    margin-right: var(--space-small);
    margin-bottom:var(--space-small);
    align-self: self-start;
}