@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9;
    height:100vh;
    display:none;
    background: var(--color-light-blue);
    @media (--media-min-medium) {
        width: 18%;
        display:block;
        background: var(--light-blue-gradient);
    }

}
.sanity{
    width: 100%;
    @media (--media-min-medium) {
        width:70%;
    }
}

.mobileHeader{
    display:block;
    @media (--media-min-medium) {
        display:none;
    }
}
.wrapper{
    position: relative;
    max-width:100%;
    padding:25px 20px;
    padding-top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:55vh;
}

.logo img{
    width:10%;
    margin-top:10px;
    margin-left:14px;
    @media (--media-min-medium) {
        width: auto;
        height: 45vh;
        margin-top:16px;
        margin-left:20px;
    }
}
.osun{
    width: 45%;
    left:-2%;
    position: relative;
    @media (--media-min-medium) {
       height: 8vh;
       width:auto;
    }
}
.searchWrapper{
    position:relative;
    width: 70%;
}
.searchWrapper input{
    width:calc(100% - 18px);
}

.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:20px;
    top:4px;
    position:absolute;
    vertical-align: top;
    background-color: transparent;
    @media (--media-min-medium){
        right: 5px;
    }
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}
.langWrapper{
    position: relative;
    width: 70%;
}

.globe{
    position: absolute;
    width:18px;
    left:10px;
    top:11px;
} 
.lang{
    text-indent:30px;
    height:2.5em;
    margin-left:0;
}
.langWrapper select{
    width: calc(100% - 0px);
    margin-right:0;
}
.menu a{
    color: inherit;
    display: inline-block;
    text-decoration: underline;
}
.menu{
    list-style: none;
    padding:0;
}
.on a{
    background-color: var(--color-gray);
}
.on::before{
    content:"";
    background-color: var(--color-gray);
    border-left: 4px solid var(--color-black);
    width: 11px;
    height: 100%;
    left:-15px;
    display: inline-block;
    position: absolute;
}
.menu li:hover a{
    background-color: var(--color-gray);
}
.menu li:hover::before{
    content:"";
    background-color: var(--color-gray);
    border-left: 4px solid var(--color-black);
    width: 11px;
    height: 100%;
    left:-15px;
    display: inline-block;
    position: absolute;
}
.menu li{
    position: relative;
    margin:7px 0;
    font-size: var(--font-base-size);
    @media (--media-min-medium) {
        font-size: var(--font-small-size);
    }
}
.close{
    display: inline;
    float:right;
    width: 35px;
    height:35px;
    position:fixed;
    top: 15px;
    right: 15px;
    @media (--media-min-medium){
        display:none;
    }
}
.email{
    word-break: break-all;
}
.mobileHeader .close{
    margin-top: 5px;
    width: 40px;
    height:40px;
}
.close svg{
    width: 100%;
    height:auto;
}
/* blue hover effect */
.menu li a{
    position:relative;
}
.menu li a:hover::after{
    opacity: 1;
    width: 100%;
}
.menu li a::after{
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 80%;
    height: 100%;
    content: " ";
    background: var(--blue-link-gradient);
    opacity: 0;
    transition: 0.5s;
}