@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root{
    margin-top:3em;
}
.inner{
    display:block;
    position: relative;
}
.inner > div:nth-child(2){
    float:right;
}

.inner figure {
   width: 100%;
   margin:0;
}

.inner img{
    object-fit: contain !important;
    max-width: 100%;
    min-width:100%;
    height:auto;
}
.inner > div{
    margin-bottom:25px;
}
.inner iframe{
    pointer-events:none;
    width: 100%;
}
.wrapper{
    display: block;
}
.inner figcaption{
    top: -1em;
    position: relative;
}