@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';


.root{
    background-color: var(--color-gray);
    padding: 10px;
    margin-bottom:15px;
    flex-basis:100%;
    min-height: 100px;
    max-width: 1000px;
}
.root a{
    overflow: hidden;
    display: block;
}
.root em{
    position: relative;
    top:0em;
    display: inline-block;
}
.root p{
    margin:0;
}

.cardWrapper .root{
    flex-basis:100%;
    margin-right:0;
    @media (--media-min-medium) {
        flex-basis: calc(50% - 35px);
        margin-right:15px;
    }
}
.oneColumn .root{
    position: relative;
    @media (--media-min-medium) {
        display: flex;
        justify-content: space-between;
    }
}

.oneColumn figure, .oneColumn figure div, .oneColumn img{
    height: 30vh;
    @media (--media-min-medium) {
        height: 20vh; 
    }
}
.oneColumn .root > *:first-child{
    position:relative;
    @media (--media-min-medium) {
        max-width: 80%;
        width: 75%;
    }
}
.oneColumn .root > *:last-child{
    float:none;
    right:0;
    max-width: 100%;
    margin:0;
    @media (--media-min-medium) {
        max-width: 50%;
    }
}

.blockLink{
    display: block;
    font-style: italic;
    margin-bottom:5px;
    position:relative;
}
.blockLink:hover::before{
    content:"";
    display: inline;
    position: relative;
    left:-3px;
    top:0px;
    height:100%;
    width:3px;
    border-left:7px solid var(--color-black);
}
.blockLink:hover{
    background-color: var(--color-gray);
}

.cardWrapper figure,.cardWrapper figure div, .cardWrapper figure > div img{
    height: auto;
    width: 100%;
}
.cardWrapper figure div[aria-hidden=true]{
    display: none;
}
.cardWrapper figure{
    width: calc(100% - 10px);
}
.cardWrapper,.oneColumn{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.root a{
    text-decoration: none;
}
.root h2{
    margin:0;
    margin-bottom:0;
    text-decoration: none;
    @media (--media-min-medium) {
        margin-bottom:0px;
    }
}

